{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "plugins": ["prettier", "react", "import"],
  "parserOptions": {
    "ecmaVersion": 2016,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true,
    "FormData": true,
    "FileReader": true,
    "Blob": true,
    "navigator": true,
    "module": true,
    "require": true
  },
  "rules": {
    "max-len": ["error", { "code": 120 }],
    "arrow-body-style": 0,
    "default-case": 0,
    "consistent-return": 0,
    "comma-dangle": 1,
    "comma-spacing": 1,
    "class-methods-use-this": 0,
    "spaced-comment": 0,
    "space-before-function-paren": 0,
    "no-extra-boolean-cast": 0,
    "no-unused-expressions": 0,
    "no-confusing-arrow": 0,
    "no-console": 0,
    "no-bitwise": 0,
    "no-return-assign": 0,
    "no-unused-vars": 1,
    "no-plusplus": 0,
    "no-case-declarations": 0,
    "no-nested-ternary": 0,
    "no-else-return": 0,
    "no-lonely-if": 0,
    "no-new": 0,
    "semi": 1,
    "semi-style": 0,
    "keyword-spacing": 0,
    "space-before-blocks": 0,
    "space-infix-ops": 0,
    "arrow-parens": 0,
    "object-curly-spacing": 1,
    "object-curly-newline": 1,
    "object-shorthand": 1,
    "global-require": 0,
    "import/first": 1,
    "import/extensions": 1,
    "import/prefer-default-export": 0,
    "import/no-dynamic-require": 0,
    "import/no-webpack-loader-syntax": 0,
    "react/no-string-refs": 1,
    "react/no-unused-state": 1,
    "react/no-find-dom-node": 0,
    "react/no-array-index-key": 0,
    "react/prop-types": 0,
    "react/sort-comp": 1,
    "react/no-danger": 0,
    "react/no-multi-comp": 0,
    "react/jsx-boolean-value": 0,
    "react/jsx-closing-tag-location": 1,
    "react/jsx-curly-brace-presence": 1,
    "react/jsx-wrap-multilines": 1,
    "react/prefer-stateless-function": 0,
    "jsx-a11y/alt-text": 0,
    "jsx-a11y/label-has-for": 0,
    "jsx-a11y/media-has-caption": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "no-param-reassign": 0,
    "no-underscore-dangle": 0,
    "import/imports-first": ["error", "absolute-first"],
    "import/newline-after-import": "error"
  }
}
